[Unit]
Description=uWSGI Container Server for BA Outliers
After=network.target

[Service]
User=ec2-user
Group=nginx
WorkingDirectory=/var/www/outliers/testrun
Environment="PATH=/var/www/outliers/testrun/env/bin"
ExecStart=/var/www/outliers/testrun/env/bin/uwsgi --ini config/testrun.ini

[Install]
WantedBy=multi-user.target
